<h2>Create Product Form</h2>

<div class="form-group fluid-container">
    <div class="row justify-content-center">
        <div class="col-3">
            <form (ngSubmit)="submit(productForm)" #productForm="ngForm">
                <div class="form-floating product-name">
                    <input type="text" name="productName" class="form-control" id="productName" 
                    [(ngModel)]="product.name" required minlength="4">
                    <label for="productName">Product name:</label>
                    <div class="invalid-feedback">
                        Product name is required.
                    </div>
                </div>
                <div class="form-floating product-code">
                    <input type="text" name="productCode" class="form-control" id="productCode" 
                    [(ngModel)]="product.code">
                    <label for="productCode">Product code:</label>
                </div>
                <div class="form-floating product-price">
                    <input type="text" name="productPrice" class="form-control" id="productPrice" 
                    [(ngModel)]="product.price">
                    <label for="productPrice">Product price:</label>
                </div>
          
                <hr class="my-4">
                
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="productCheck" id="productCheck"
                        [(ngModel)]="confirmed">
                    <label class="form-check-label" for="productCheck">I confirm that the information provided above is accurate.</label>
                </div>

                <button [disabled]="!confirmed" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>