<div class="card"
     style="width: 18rem;"
     [class]="product.onSale ? 'green-background' : ''">
  <img [src]="product.imageUrl" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">{{product.name}}</h4>
    <h5 class="card-title">{{product.price}} €</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div>
      <button type="button"
              class="btn btn-danger"
              (click)="decreaseQuantity()"
              [disabled]="product.quantity <= 0"> - </button>
      <span>  {{product.quantity}}  </span>
      <button type="button"
              class="btn btn-success"
              (click)="increaseQuantity()"> + </button>
    </div>
  </div>
</div>
