
<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col" *ngFor="let product of products">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.code}}</p>
          <p class="card-text" [class]="product.price>50.0 ? 'high' : 'low'">{{product.price}} €</p>
          <button

          href="#" 
          class="btn btn-primary">Priljubljen: {{product.favorite}}</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col">
    <div style="margin-top: 20px">
      <label for="one">Terms of Service </label>
      <input #one id="one" type="checkbox" (change)="updateTos(one.checked)">
      <br>
      <label for="two">Send Usage Information </label>
      <input #two id="two" type="checkbox" (change)="updateUsage(two.checked)">
    </div>
    <button type="button" class="big-font" [ngClass]="classStyler"
    (click)="onSubmit()">Submit</button>
  </div>

</div>
</div>
  