<h2>Login Form</h2>
<h3>{{message}}</h3>
<div class="form-group fluid-container">
    <div class="row justify-content-center">
        <div class="col-3">
            <form (ngSubmit)="login()" #loginForm="ngForm">
                <div class="form-floating product-name">
                    <input type="text" name="username" class="form-control" id="username" 
                    [(ngModel)]="username" required minlength="4">
                    <label for="username">Username:</label>
                    <div class="invalid-feedback">
                        Username is required.
                    </div>
                </div>
                <div class="form-floating product-code">
                    <input type="password" name="password" class="form-control" id="password" 
                    [(ngModel)]="password">
                    <label for="password">Password:</label>
                </div>
                
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>